* {
  margin: 0;
}

html, body {
  height: 100%;
}

p {
    display: block;
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

.info {
font:16px Arial, Helvetica, sans-serif;
background:rgba(255,255,255,0.8);
box-shadow:0 0 15px rgba(0,0,0,0.2);
border-radius:5px;
padding:6px 8px;
}

.info h4 {
color:#777;
margin:0 0 5px;
}

h1 {
color:#000;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
padding: 8px 0px 8px 0px; 
}

div.text {
font-family:Arial, Helvetica, sans-serif;
font-size:20px;
width:800px;
margin:auto;
padding-top:8px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -25px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
text-align:center;
padding-top:8px;
height: 25px; 
}

div.map {
margin:auto;
}

button {
background-color:#3cba5d;
-moz-border-radius:28px;
-webkit-border-radius:28px;
border-radius:28px;
border:1px solid #11d925;
display:inline-block;
cursor:pointer;
color:#fff;
font-family:Arial;
font-size:17px;
text-decoration:none;
text-shadow:0 1px 0 #2f6627;
padding:16px 31px;
}

button:hover {
background-color:#5cbf2a;
}

button:active {
position:relative;
top:1px;
}

.wrapper {
text-align:center;
padding:20px 0 20px;
}